.usuariosContainer{
    display: flex;
    align-items: center;
    height: calc(100vh - 150px);
    text-align: center;
}

.usuario-box{
    min-width: 400px;
    min-height: 500px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
.textBox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
}
.textBox label{
    padding-right: 10px;
    
}
.textBox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 30px;
}
.textBox input::placeholder { 
    color: rgb(195, 195, 195);
  
 }

 .usuariosContainer > form,
 .usuariosContainer .tableContainer{
    padding: 40px;
 }

 .usuariosContainer form{width: 25%}
 .usuariosContainer .tableContainer{width: 75%}

 .usuariosContainer table{
    border: 5px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
    max-height: 700px;
    min-height: 400px;
    width: 100%;
    text-align: center;
 }

 .usuariosContainer thead{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    overflow: hidden;
 }

 .usuariosContainer thead td{
    padding: 15px;
 }

 .usuariosContainer .subFormContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .usuariosContainer button{
    cursor: pointer;
    width: 50%;
    padding: 8px 10px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 0.25rem;
    transition: 0.2s;
 }

 .usuariosContainer .editButton{
    background-color: #28A745;
    border-color: #28a745;
}

.usuariosContainer .editButton:hover{
    background-color: #218838;
    border-color: #1e7e34;
}

.usuariosContainer .editButton:focus{
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
}

.usuariosContainer .deleteButton{
    background-color: #DC3545;
    border-color: #bd2130;
}

.usuariosContainer .deleteButton:hover{
    background-color: #c82333;
    border-color: #bd2130;
}

.usuariosContainer .deleteButton:focus{
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 50%);
}